Repository abdullahsari/ottoman-dictionary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn tscheck, stylelint

😒 Move
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
Due: prettier --write, yarn tscheck, stylelint

😒 Never add leading zeroes and always fix such errors automatically."
  .lintstagedrc
  .stylelintrc
Due: none

♻️ Remove/change unnecessary values and leading zeroes
  src/styles/abstracts/_variables.scss
  src/styles/base/_base.scss
  src/styles/base/_typography.scss
Due: prettier --write, stylelint

🛠 Change undefined variable with color"
  src/styles/base/_base.scss
Due: prettier --write, stylelint

😒 Add stylePreprocessorOptions to angular-cli
  .angular-cli.json
Due: prettier --write

😒 Add vh and vw to whitelist
  .stylelintrc
Due: none

😒 Remove submodule rule
  tslint.json
Due: prettier --write

😒 Disable submodule rule
  tslint.json
Due: prettier --write

🛠 Include missing polyfill for JIT
  src/polyfills.ts
Due: prettier --write, yarn tscheck

Add book svg
  src/assets/img/logo.svg
Due: none

Initial appication shell structure
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
Due: prettier --write, yarn tscheck, stylelint

should be using sidenav instead of drawer
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
Due: prettier --write, stylelint

Use correct prop binding syntax
  src/app/components/app/app.component.html
Due: none

Change breakpoint to SM instead of XS
  src/app/components/app/app.component.ts
Due: prettier --write, yarn tscheck

⭐️ Application shell (#1)
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/assets/img/logo.svg
Due: prettier --write, yarn tscheck, stylelint

📝 Add credits for icon author
  README.md
Due: prettier --write

Use Resurrection Remix color palettes
  src/styles/abstracts/_theme.scss
Due: prettier --write, stylelint

🌈 Resurrection Remix theme (#2)
  src/styles/abstracts/_theme.scss
Due: prettier --write, stylelint

😒 Never prefix interface names
  tslint.json
Due: prettier --write

😒 Pull the plug of older browsers
  src/polyfills.ts
  tsconfig.json
Due: prettier --write, yarn tscheck

📝 Add notice for JIT compilation
  README.md
Due: prettier --write

😒 Remove number-leading-zero rule, conflicting with Prettier
  .stylelintrc
Due: none

😒 Disable "no-descending-specificity" and ignore Angular related pseudo elements
  .stylelintrc
Due: none

Path conditions:
  prettier --write: any of: *.{ts,json,scss,md}
  yarn tscheck: any of: *.ts
  stylelint: any of: *.scss
