Repository abdullahsari/ottoman-dictionary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn tscheck, stylelint

.lintstagedrc:

{
    "*.{ts,json,scss,md}": ["prettier --write", "git add"],
    "*.ts": ["yarn tscheck", "git add"],
    "*.scss": ["stylelint", "git add"]
}

🛠 no-descending-specificity should apprently be null instead of false
  .stylelintrc
Due: none

🌈 Changed primary color to default Material option Gray 800 instead of using own
  src/styles/abstracts/_theme.scss
Due: prettier --write, stylelint

Created and implemented Ottoman Turkish translation service.
  src/app/app.module.ts
  src/app/services/ottoman.service.ts
Due: prettier --write, yarn tscheck

Create Translation model
  src/app/models/translation.interface.ts
Due: prettier --write, yarn tscheck

Utility to remove duplicates from an array
  src/app/shared/helpers/utils.ts
Due: prettier --write, yarn tscheck

Properly structure project and set up lazy loading
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/modules/translate/services/ottoman.service.ts
  src/app/modules/translate/translate-routing.module.ts
  src/app/modules/translate/translate.module.ts
  src/app/shared/models/translation.interface.ts
Due: prettier --write, yarn tscheck

Created TranslateOverviewComponent
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

SharedModule for shared stuff
  src/app/shared/services/snackbar.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, yarn tscheck

First version of translation page
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck, stylelint

Fallback if no translation exists, also only take uniques
  src/app/modules/translate/services/ottoman.service.ts
Due: prettier --write, yarn tscheck

Remove duplicate entries
  src/app/modules/translate/services/ottoman.service.ts
Due: prettier --write, yarn tscheck

Added first navigation item of Translate
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/shared/models/nav-link.interface.ts
Due: prettier --write, yarn tscheck, stylelint

Properly handle all input cases with cancellation
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Doc fix
  src/app/modules/translate/services/ottoman.service.ts
Due: prettier --write, yarn tscheck

Move REVERSE_PROXY to app.constants.ts
  src/app/app.constants.ts
  src/app/modules/translate/services/ottoman.service.ts
Due: prettier --write, yarn tscheck

Add glossary functionality
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

Do not make title clickable, no use and is misleading
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
Due: prettier --write, stylelint

⭐️ Ottoman translation (#4)
  src/app/app-routing.module.ts
  src/app/app.constants.ts
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/ottoman.service.ts
  src/app/modules/translate/translate-routing.module.ts
  src/app/modules/translate/translate.module.ts
  src/app/shared/helpers/utils.ts
  src/app/shared/models/nav-link.interface.ts
  src/app/shared/models/translation.interface.ts
  src/app/shared/services/snackbar.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, yarn tscheck, stylelint

♻️ Better reset glossary every time in subscription's next handler
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Add Ottoman tughra pic
  src/assets/img/tughra.png
Due: none

Created DOMEventsService and using it to to dispatch an event to the outer context of the Angular app to remove the loading screen
  src/app/app.module.ts
  src/app/components/app/app.component.ts
  src/app/services/dom-events.service.ts
Due: prettier --write, yarn tscheck

Implemented awesome preloading
  src/index.html
Due: none

⭐️ App loading screen (#5)
  src/app/app.module.ts
  src/app/components/app/app.component.ts
  src/app/services/dom-events.service.ts
  src/assets/img/tughra.png
  src/index.html
Due: prettier --write, yarn tscheck

📝 Change "Personal" to "Ottoman"
  README.md
Due: prettier --write

🌈 Add an Ottoman feeling
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/assets/img/logo.svg
Due: prettier --write, stylelint

📝 Remove credit
  README.md
Due: prettier --write

😒 Replace every occurrence of "Personal" with "Ottoman"
  .angular-cli.json
  package.json
  src/assets/img/favicons/favicon-128x128-min.png
  src/assets/img/favicons/favicon-128x128.png
  src/assets/img/favicons/favicon-256x256-min.png
  src/assets/img/favicons/favicon-256x256.png
  src/assets/img/favicons/favicon-32x32-min.png
  src/assets/img/favicons/favicon-32x32.png
  src/assets/img/favicons/favicon-64x64-min.png
  src/assets/img/favicons/favicon-64x64.png
  src/assets/img/touch/homescreen512.png
  src/index.html
  src/manifest.json
Due: prettier --write

📝 Fix broken URL
  README.md
Due: prettier --write

🌈 Remove letters because they do not look pretty
  src/index.html
Due: none
