Repository abdullahsari/ottoman-dictionary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn tscheck, stylelint

.lintstagedrc:

{
    "*.{ts,json,scss,md}": ["prettier --write", "git add"],
    "*.ts": ["yarn tscheck", "git add"],
    "*.scss": ["stylelint", "git add"]
}

🌈 Beautify app name
  src/app/components/login/login.component.scss
  src/app/components/shell/shell.component.scss
Due: prettier --write, stylelint

⭐️Page titles
  src/app/common/constants.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
  src/app/modules/core/core.module.ts
  src/app/modules/core/services/page-title.service.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

🌈 Generalize content floating over toolbar
  src/app/components/shell/shell.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, stylelint

Add autoresize
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
Due: prettier --write, yarn tscheck

Change from row to column
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, stylelint

Inject Web Speech API
  src/app/modules/core/factories/web-speech.factory.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck

Add and use speech service
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/speech.service.ts
Due: prettier --write, yarn tscheck

Fix auto resize visual bug
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, stylelint

Move object creation into observable constructor
  src/app/modules/translate/services/speech.service.ts
Due: prettier --write, yarn tscheck

Re-arrange operators for a better experience
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Deeper imports
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Move factories to correct location
  src/app/modules/translate/factories/web-speech.factory.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck

Add snackbar listening notification
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Change message
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Add spinner
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, yarn tscheck, stylelint

Remove comment
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Disable and change icon depending on mic status
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

⭐️ Translate expansion (#7)
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/factories/web-speech.factory.ts
  src/app/modules/translate/services/speech.service.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck, stylelint

Created UsersModule with working first view
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
  src/app/modules/users/components/users-overview/users-overview.component.ts
  src/app/modules/users/users-routing.module.ts
  src/app/modules/users/users.module.ts
Due: prettier --write, yarn tscheck, stylelint

Use realtimeDb instead of CF because it does not have a status tracking system
  src/app/app.module.ts
  src/app/modules/core/services/auth.service.ts
Due: prettier --write, yarn tscheck

Created UserStatusComponent to display a user's status (initial)
  src/app/modules/users/components/user-status/user-status.component.html
  src/app/modules/users/components/user-status/user-status.component.scss
  src/app/modules/users/components/user-status/user-status.component.ts
  src/app/modules/users/users.module.ts
Due: prettier --write, yarn tscheck, stylelint

Created UsersService to fetch all users (initial)
  src/app/modules/users/services/users.service.ts
  src/app/modules/users/users.module.ts
Due: prettier --write, yarn tscheck

UsersOverview initial layout and styling to display users
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

User => User$ (convention)
  src/app/components/shell/shell.component.html
  src/app/modules/core/guards/anonymous.guard.ts
  src/app/modules/core/guards/auth.guard.ts
Due: prettier --write, yarn tscheck

Add unknown status to user-status
  src/app/modules/users/components/user-status/user-status.component.html
  src/app/modules/users/components/user-status/user-status.component.scss
Due: prettier --write, stylelint

User presence system
  src/app/modules/core/services/auth.service.ts
Due: prettier --write, yarn tscheck

Layout change
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
Due: prettier --write, stylelint

Add RelativeTime pipe
  src/app/modules/shared/pipes/relative-time.pipe.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

Animate status changes
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

Small layout tweak
  src/app/modules/users/components/users-overview/users-overview.component.scss
Due: prettier --write, stylelint

color anim to indicate presence change
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

⭐️ Registered users (#8)
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.ts
  src/app/modules/core/guards/anonymous.guard.ts
  src/app/modules/core/guards/auth.guard.ts
  src/app/modules/core/services/auth.service.ts
  src/app/modules/shared/pipes/relative-time.pipe.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/users/components/user-status/user-status.component.html
  src/app/modules/users/components/user-status/user-status.component.scss
  src/app/modules/users/components/user-status/user-status.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
  src/app/modules/users/components/users-overview/users-overview.component.ts
  src/app/modules/users/services/users.service.ts
  src/app/modules/users/users-routing.module.ts
  src/app/modules/users/users.module.ts
Due: prettier --write, yarn tscheck, stylelint

📝 Remove dollar signs
  src/app/modules/core/services/auth.service.ts
Due: prettier --write, yarn tscheck

😒 Add environment
  src/environments/environment.ts
Due: prettier --write, yarn tscheck

😒 Use latest ES spec, do not transpile
  src/tsconfig.app.json
Due: prettier --write

Add fade animation to app root
  src/app/app-routing.module.ts
  src/app/components/app/app.component.ts
Due: prettier --write, yarn tscheck
