Repository abdullahsari/ottoman-dictionary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn tscheck, stylelint

Add popAnimation
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

Better popAnim
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

slideAnimation between shell routes
  src/app/app-routing.module.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
Due: prettier --write, yarn tscheck, stylelint

🛠 Prevent speech observable from dying when an error occurs
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

📝 Fill missing docs
  src/app/components/app/app.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/translate/factories/web-speech.factory.ts
  src/app/modules/translate/services/speech.service.ts
  src/app/modules/users/components/user-status/user-status.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.ts
  src/app/modules/users/services/users.service.ts
Due: prettier --write, yarn tscheck

Change time to 700ms, remove unnecessary transition
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

150 => 200
  src/app/components/shell/shell.component.ts
Due: prettier --write, yarn tscheck

⭐️ Animations (#9)
  src/app/app-routing.module.ts
  src/app/components/app/app.component.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

🌈 toLowerCase
  src/app/modules/shared/pipes/relative-time.pipe.ts
Due: prettier --write, yarn tscheck

Mark pipe as pure
  src/app/modules/shared/pipes/relative-time.pipe.ts
Due: prettier --write, yarn tscheck

ChangeDetectionStrategy.OnPush
  src/app/components/app/app.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/users/components/user-status/user-status.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

Dumb component
  src/app/components/login/login.component.ts
Due: prettier --write, yarn tscheck

OnPush by default
  .angular-cli.json
Due: prettier --write

♻️ Boost performance (#10)
  .angular-cli.json
  src/app/components/app/app.component.ts
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/shared/pipes/relative-time.pipe.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/users/components/user-status/user-status.component.ts
  src/app/modules/users/components/users-overview/users-overview.component.ts
Due: prettier --write, yarn tscheck

🌈 Prettier users list on small viewports
  src/app/components/shell/shell.component.html
  src/app/modules/shared/shared.module.ts
  src/app/modules/users/components/users-overview/users-overview.component.html
  src/app/modules/users/components/users-overview/users-overview.component.scss
Due: prettier --write, yarn tscheck, stylelint

Initial setup
  src/app/app-routing.module.ts
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.html
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.scss
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.ts
  src/app/modules/glossary/glossary-routing.module.ts
  src/app/modules/glossary/glossary.module.ts
Due: prettier --write, yarn tscheck, stylelint

😒 Added TTF to cached assets
  src/ngsw-config.json
Due: prettier --write

TranslateService: add glossary entry
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/translate.service.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck

Make uid public, needed in other services
  src/app/modules/core/services/auth.service.ts
Due: prettier --write, yarn tscheck

Word Existence check validator async
  src/app/common/helpers/validators.ts
Due: prettier --write, yarn tscheck

Make notify more customizable
  src/app/common/models/snackbar-action.enum.ts
  src/app/modules/core/services/snackbar.service.ts
Due: prettier --write, yarn tscheck

Save & Undo
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/translate.service.ts
Due: prettier --write, yarn tscheck

Better looks
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, stylelint

cdref
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

Remove autosize
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
Due: prettier --write, yarn tscheck

7 to 5
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

needed components
  src/app/modules/glossary/components/entries/entries.component.html
  src/app/modules/glossary/components/entries/entries.component.scss
  src/app/modules/glossary/components/entries/entries.component.ts
  src/app/modules/glossary/components/history/history.component.html
  src/app/modules/glossary/components/history/history.component.scss
  src/app/modules/glossary/components/history/history.component.ts
  src/app/modules/glossary/components/memorized/memorized.component.html
  src/app/modules/glossary/components/memorized/memorized.component.scss
  src/app/modules/glossary/components/memorized/memorized.component.ts
  src/app/modules/glossary/components/starred/starred.component.html
  src/app/modules/glossary/components/starred/starred.component.scss
  src/app/modules/glossary/components/starred/starred.component.ts
  src/app/modules/glossary/glossary-routing.module.ts
  src/app/modules/glossary/glossary.module.ts
Due: prettier --write, yarn tscheck, stylelint

Glossary overview layout
  src/app/common/models/nav-link.interface.ts
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.html
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.scss
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.ts
  src/app/modules/shared/shared.module.ts
Due: prettier --write, yarn tscheck, stylelint

split animation logic
  src/app/common/helpers/animations.ts
  src/app/components/shell/shell.component.ts
Due: prettier --write, yarn tscheck

Remove different sections, only have one (adds too much complexity)
  src/app/modules/glossary/components/entries/entries.component.html
  src/app/modules/glossary/components/entries/entries.component.scss
  src/app/modules/glossary/components/entries/entries.component.ts
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.html
  src/app/modules/glossary/components/glossary-overview/glossary-overview.component.ts
  src/app/modules/glossary/components/history/history.component.html
  src/app/modules/glossary/components/history/history.component.scss
  src/app/modules/glossary/components/history/history.component.ts
  src/app/modules/glossary/components/memorized/memorized.component.html
  src/app/modules/glossary/components/memorized/memorized.component.scss
  src/app/modules/glossary/components/memorized/memorized.component.ts
  src/app/modules/glossary/components/starred/starred.component.html
  src/app/modules/glossary/components/starred/starred.component.scss
  src/app/modules/glossary/components/starred/starred.component.ts
  src/app/modules/glossary/glossary-routing.module.ts
  src/app/modules/glossary/glossary.module.ts
  src/app/modules/glossary/services/glossary.service.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/services/translate.service.ts
Due: prettier --write, yarn tscheck, stylelint

😒 Remove the glossary feature from translations
  src/app/modules/translate/components/translate-overview/translate-overview.component.html
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck, stylelint

🌈 Shorten snackbar messages
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
Due: prettier --write, yarn tscheck

🌈 Beautify translation panel on mobile
  src/app/modules/translate/components/translate-overview/translate-overview.component.scss
Due: prettier --write, stylelint

Path conditions:
  prettier --write: any of: *.{ts,json,scss,md}
  yarn tscheck: any of: *.ts
  stylelint: any of: *.scss
