Repository abdullahsari/ottoman-dictionary: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn tscheck, stylelint

♻️ Wait for window's load event as well
  src/index.html
Due: none

🛠 Rename wrong names and fix path
  src/assets/img/favicons/favicon-128x128.png
  src/assets/img/favicons/favicon-256x256.png
  src/assets/img/favicons/favicon-32x32.png
  src/assets/img/favicons/favicon-64x64.png
  src/index.html
Due: none

🌈 Display JavaScript disabled notice a little prettier
  src/index.html
Due: none

😒 Add deg as an accepted unit
  .stylelintrc
Due: none

Created LoginComponent with a simple button (testing)
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
Due: prettier --write, yarn tscheck, stylelint

Import Firebase modules and initialize
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, yarn tscheck

Created AuthGuard to protect almost every coming route
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/guards/auth.guard.ts
Due: prettier --write, yarn tscheck

Created and implemented Google auth
  src/app/app.module.ts
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Created a native app like sidenav header with user info
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/assets/img/material-cover.jpg
Due: prettier --write, yarn tscheck, stylelint

Move REDIRECT_PATH to constants
  src/app/app.constants.ts
  src/app/components/login/login.component.ts
Due: prettier --write, yarn tscheck

Created and implemented AnonymousGuard, which does the reverse job of the AuthGuard
  src/app/app-routing.module.ts
  src/app/guards/anonymous.guard.ts
Due: prettier --write, yarn tscheck

Documentation
  src/app/components/login/login.component.ts
  src/app/guards/auth.guard.ts
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Add signOut
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
Due: prettier --write, yarn tscheck, stylelint

Fix AnonGuard
  src/app/guards/anonymous.guard.ts
Due: prettier --write, yarn tscheck

Whitespace
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Use FS instead of Realtime DB
  src/app/app.module.ts
Due: prettier --write, yarn tscheck

Use FireStore custom user document to authenticate
  src/app/components/login/login.component.ts
  src/app/services/auth.service.ts
  src/app/shared/models/status.enum.ts
  src/app/shared/models/user.interface.ts
Due: prettier --write, yarn tscheck

update docs of updateUserData
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Use static now method instead of instantiating a new Date object
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Added FB as login option
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Split shell into own seperate ShellComponent to be able to create components seperate from the shell itself
  src/app/app-routing.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
Due: prettier --write, yarn tscheck, stylelint

Add provider to the DB as well
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

First version of login screen
  src/app/app.constants.ts
  src/app/app.module.ts
  src/app/components/app/app.component.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
  src/app/shared/models/social-type.enum.ts
  src/assets/fonts/Ottoman-Regular.ttf
  src/assets/img/fsm.jpg
  src/assets/img/icons/social/FACEBOOK.svg
  src/assets/img/icons/social/GOOGLE.svg
  src/assets/img/mosque.png
  src/environments/environment.ts
  src/styles/base/_fonts.scss
Due: prettier --write, yarn tscheck, stylelint

SocialType argument not fixable
  src/app/components/login/login.component.html
  src/app/components/login/login.component.ts
Due: prettier --write, yarn tscheck

Add FAB
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
  src/styles/abstracts/_mixins.scss
Due: prettier --write, yarn tscheck, stylelint

Add ottoman anthem as a bonus to login
  .angular-cli.json
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
  src/assets/audio/anthem.mp3
Due: prettier --write, yarn tscheck, stylelint

Add provider icon to header to show which method was used to auth
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
Due: prettier --write, stylelint

Better use redirect instead of popup for mobile support
  src/app/services/auth.service.ts
Due: prettier --write, yarn tscheck

Add /
  src/app/components/shell/shell.component.ts
Due: prettier --write, yarn tscheck

⭐️ Authentication (#6)
  .angular-cli.json
  src/app/app-routing.module.ts
  src/app/app.constants.ts
  src/app/app.module.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.html
  src/app/components/shell/shell.component.scss
  src/app/components/shell/shell.component.ts
  src/app/guards/anonymous.guard.ts
  src/app/guards/auth.guard.ts
  src/app/services/auth.service.ts
  src/app/shared/models/social-type.enum.ts
  src/app/shared/models/status.enum.ts
  src/app/shared/models/user.interface.ts
  src/assets/audio/anthem.mp3
  src/assets/fonts/Ottoman-Regular.ttf
  src/assets/img/fsm.jpg
  src/assets/img/icons/social/FACEBOOK.svg
  src/assets/img/icons/social/GOOGLE.svg
  src/assets/img/material-cover.jpg
  src/assets/img/mosque.png
  src/environments/environment.prod.ts
  src/styles/abstracts/_mixins.scss
  src/styles/base/_fonts.scss
Due: prettier --write, yarn tscheck, stylelint

😒 Upgraded packages to latest (as of 18/03/2018)
  yarn.lock
Due: none

♻️ Prevent repetitive imports in modules
  src/app/app.module.ts
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/translate/translate.module.ts
  src/app/shared/services/dom-events.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, yarn tscheck

😒 Add environment
  .gitignore
  src/environments/environment.prod.ts
Due: prettier --write, yarn tscheck

😒 Add environment
  .gitignore
  src/environments/environment.ts
Due: prettier --write, yarn tscheck

♻️ Implement best practices for modules and code organization
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/common/constants.ts
  src/app/common/helpers/utils.ts
  src/app/common/models/nav-link.interface.ts
  src/app/common/models/social-type.enum.ts
  src/app/common/models/status.enum.ts
  src/app/common/models/translation.interface.ts
  src/app/common/models/user.interface.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/core/core.module.ts
  src/app/modules/core/guards/anonymous.guard.ts
  src/app/modules/core/guards/auth.guard.ts
  src/app/modules/core/services/auth.service.ts
  src/app/modules/core/services/dom-events.service.ts
  src/app/modules/core/services/snackbar.service.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/ottoman.service.ts
  src/app/modules/translate/translate.module.ts
Due: prettier --write, yarn tscheck, stylelint

♻️ Implement best practices for modules and code organization
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/common/constants.ts
  src/app/common/helpers/utils.ts
  src/app/common/models/nav-link.interface.ts
  src/app/common/models/social-type.enum.ts
  src/app/common/models/status.enum.ts
  src/app/common/models/translation.interface.ts
  src/app/common/models/user.interface.ts
  src/app/components/app/app.component.html
  src/app/components/app/app.component.scss
  src/app/components/app/app.component.ts
  src/app/components/login/login.component.ts
  src/app/components/shell/shell.component.ts
  src/app/modules/core/core.module.ts
  src/app/modules/core/guards/anonymous.guard.ts
  src/app/modules/core/guards/auth.guard.ts
  src/app/modules/core/services/auth.service.ts
  src/app/modules/core/services/dom-events.service.ts
  src/app/modules/core/services/snackbar.service.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/translate/components/translate-overview/translate-overview.component.ts
  src/app/modules/translate/services/ottoman.service.ts
  src/app/modules/translate/translate.module.ts
  src/environments/environment.ts
Due: prettier --write, yarn tscheck, stylelint

Path conditions:
  prettier --write: any of: *.{ts,json,scss,md}
  yarn tscheck: any of: *.ts
  stylelint: any of: *.scss
